name: gl_publish_athena

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: registry.gitlab.com
  IMAGE_NAME: nexus-athena0
  GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}

jobs:
  qemu:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v3
      - 
        name: Install go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.3
          check-latest: true
      - 
        name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: main
      -
        name: Setup QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GitLab Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GL_REGISTRY_USERNAME }}
          password: ${{ secrets.GL_REGISTRY_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ env.REGISTRY }}/${{ secrets.GL_REGISTRY_USERNAME }}/${{ env.IMAGE_NAME }}:latest.amd64
      - 
        name: Sign image with a key
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          cosign sign -a commit=${{ github.sha }} \
            -a "repo=https://gitlab.com/cyberphxv/nexus-athena0" \
            --key gitlab://${{ secrets.GL_REGISTRY_USERNAME }}/${{ env.IMAGE_NAME }} \
            ${{ secrets.GL_REGISTRY_USERNAME }}/${{ env.IMAGE_NAME }}:latest.amd64
